---
layout: page
titles:
  en: Home
  zh: 主页
  zh-Hans: 主頁
  zh-Hant: 主頁
show_title: false
---
<div class="layout--home">
  <!-- Search Google -->
  <div class="search-area">
    <div class="tsfdiv">
      <form class="tsf" action="https://www.google.com/search" accept-charset="GB2312" style="overflow:auto" name="f" onsubmit="return q.value!=''" role="search" target="_blank">
        <div class="search-logo div-inline">
            <img class="search-logo" src="/assets/images/googlelogo_color_120x44dp.png" border="0" alt="Google" height="44" width="120" data-atf="3" >
        </div>
        <div class="search-input div-inline">
        <input class="onsubmit" maxlength="2048" name="q" onfocus="this.select()" autocomplete="off" title="Google 搜索" type="search" value="" aria-label="搜索" aria-haspopup="false" role="combobox" aria-autocomplete = "list" spellcheck="false" style=" padding: 10px; margin: 0px; height: 100%; width: 100%;">
        
    </script>
        <input type=hidden name=ie value=GB2312>
        <input type=hidden name=oe value=zh-CN>
        <input type=hidden name=hl value=zh-CN>
      </div>
      <div class="search-summit div-inline">
        <input class="summit-btn" type="submit" name="btnK" value="搜索">
      </div>
      </form>
    </div>
  </div>
  <!-- Search Google -->
</div>

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
